/* COLORS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #2AB1DB;
  color: #fff;
  display: inline-block;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
}

h6 {
  font-size: 1.6rem;
  font-weight: 600;
}

body {
  font-size: 1.8rem;
}

.masked-text {
  background: linear-gradient(to right, #9FD295, #82C076, #9FD295, #2AB1DB);
  background-clip: text;
  color: transparent;
}

.nav {
  display: flex;
  max-width: 110rem;
  margin: 0 auto;
  padding: 3rem 0;
  align-items: center;
}

.nav__brand {
  height: 6rem;
  width: 6rem;
  margin-right: auto;
}

.nav__brand-image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.nav__items {
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 2rem;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.pricing {
  padding: 4.5rem 0;
}

.pricing__topic {
  text-align: center;
  margin-bottom: 3.5rem;
}

.pricing__topic span {
  color: #2FC5F3;
}

.pricing__container {
  display: grid;
  grid-template-columns: 1fr min-content 1fr min-content 1fr min-content 1fr;
  color: white;
}

.pricing__detail {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
}

.pricing__item {
  margin: 1rem 0;
}

.pricing__card {
  border-radius: 15px;
}

.pricing__card--content {
  text-align: center;
  padding: 1rem 2rem;
}

.pricing__card--content p {
  font-size: 1rem;
}

.pricing__card--1 {
  grid-column: 2 / 3;
}

.pricing__card--1 .pricing__card--content {
  background-color: #148786;
}

.pricing__card--2 {
  grid-column: 4 / 5;
}

.pricing__card--2 .pricing__card--content {
  background-color: #04223E;
}

.pricing__card--3 {
  grid-column: 6 / 7;
}

.pricing__card--3 .pricing__card--content {
  background-color: #0B0A18;
}

.pricing__card--banner {
  position: relative;
}

.pricing__card--banner img {
  width: 25rem;
  height: 15rem;
  display: block;
}

.pricing__card--banner h3 {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}
