.u-upper {
  text-transform: uppercase;
}

.u-image-full-size {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.u-mb-large {
  margin-bottom: 7.5rem !important;
}

.u-iblock {
  display: inline-block;
}

.u-margin-tb-xl {
  margin-top: 20rem !important;
  margin-bottom: 20rem !important;
}
