/* COLORS */

// Theme colors
$color-primary-light: #9FD295;
$color-primary-dark: #82C076;

$color-secondary-light: #2FC5F3;
$color-secondary-lighter: #24bceb;
$color-secondary-main: #2AB1DB;
$color-secondary-dark: #03a6ca;
$color-secondary-darker: #0089A7;

// Contrasting colors
$color-white: #fff;
$color-black: #000;

// Shades of gray:
$color-gray-1: #f7f7f7;
$color-gray-2: #f0f0f0;
$color-gray-3: #eee;
$color-gray-4: #e4e4e4;
$color-gray-5: #ccc;
$color-gray-6: #424242;
$color-gray-7: #111;
$color-gray-8: #090909;


// Pricing

$color-price-base : #148786;
$color-price-base-btn : #005A5A;

$color-price-pro : #04223E;
$color-price-pro-btn : #000F1D;

$color-price-premium: #0B0A18;
$color-price-premium-btn: #292838;
