/* COLORS */

// Theme colors
$color-primary-light: #9fd295;
$color-primary-dark: #82c076;

$color-secondary-light: #2fc5f3;
$color-secondary-lighter: #24bceb;
$color-secondary-main: #2ab1db;
$color-secondary-dark: #03a6ca;
$color-secondary-darker: #0089a7;

// Contrasting colors
$color-white: #fff;
$color-black: #000;

// Shades of gray:
$color-gray-1: #f7f7f7;
$color-gray-2: #f0f0f0;
$color-gray-3: #eee;
$color-gray-4: #e4e4e4;
$color-gray-5: #ccc;
$color-gray-6: #424242;
$color-gray-7: #111;
$color-gray-8: #090909;

// Pricing

$color-price-base: #148786;
$color-price-base-btn: #005a5a;

$color-price-pro: #04223e;
$color-price-pro-btn: #000f1d;

$color-price-premium: #0b0a18;
$color-price-premium-btn: #292838;
