.contact {
  @include setWidth;

  &__logo {
    width: 8rem;
    height: 8rem;

    @include respond(phone) {
      width: 6rem;
      height: 6rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;

    a:link,
    a:visited {
      text-align: center;
      text-decoration: none;
      color: $color-black;
      transition: all 0.3s;
    }

    a:hover {
      transform: translateY(-1rem) scale(1.05);
    }
  }
  &__community {
    display: flex;
    justify-content: center;

    a:link,
    a:visited {
      text-decoration: none;
      transition: all 0.3s;
    }

    a:hover {
      transform: translateY(-1rem) scale(1.05);
    }
  }
}
