.contact{

  @include setWidth;

  &__logo{

    width: 10rem;
    height: 10rem;

    @include respond(phone){
      width: 6rem;
      height: 6rem;
    }

  }

  &__container{

    display: flex;
    justify-content: space-around;

    

  }


}