.footer {
  &__social {
    background-color: rgba($color-secondary-light, 0.7);
    @include flexCenter;

    &--link {
      display: inline-block;
      fill: $color-gray-6;

      &:hover {
        fill: $color-gray-3;
      }
    }

    &--icon {
      height: 2rem;
      width: 2rem;
      margin: 1rem;
    }
  }

  &__copyright {
    background-color: rgba($color-secondary-main, 0.7);
    color: $color-gray-6;
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 1.2rem;
  }
}
