.footer {
  &__social {
    background-color: $color-secondary-main;
    @include flexCenter;

    &--link {
      display: inline-block;
      fill: $color-white;
    }

    &--icon {
      height: 2.5rem;
      width: 2.5rem;
      margin: 2rem;
    }
  }

  &__copyright {
    background-color: $color-secondary-dark;
    color: $color-white;
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 2rem;
  }
}
