.footer {
  &__social {
    background-color: rgba($color-gray-6, 0.5);
    @include flexCenter;

    &--link {
      display: inline-block;
      fill: $color-white;

      &:hover {
        fill: $color-black;
      }
    }

    &--icon {
      height: 2.5rem;
      width: 2.5rem;
      margin: 2rem;
    }
  }

  &__copyright {
    background-color: rgba($color-gray-6, 0.6);
    color: $color-white;
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 2rem;
  }
}
