.hero {
  @include setWidth;

  height: 100vh;
  display: flex;
  align-items: center;

  &-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    grid-gap: 5rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
      margin-top: 10rem;

      &__illustration {
        max-width: 80%;
        margin: auto;
      }
    }
  }
}
