.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  &-container {
    @include setWidth;
    padding: 1.5rem 0;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    z-index: 9999;
    transition: padding 0.3s;
  }

  &__brand {
    flex-shrink: 0;
    height: 4rem;
    width: 4rem;
    margin-right: auto;

    &-image {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__items {
    list-style: none;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-black;

    &:hover {
      color: $color-secondary-main;
    }
  }
}

// Sticky Nav

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  z-index: 1000;
  box-shadow: 0 2px 3px $color-gray-4;
  transition: all 0.3s ease-out;
}
