.pricing {
  text-align: center;

  &__container {
    display: grid;
    grid-template-columns: 1fr min-content 1fr min-content 1fr min-content 1fr;
    color: $color-white;

     @include respond(tab-port) {
      grid-template-columns: 1fr min-content 1fr;
      grid-row-gap: 1rem;
    }

  }

  &__detail {
    list-style: none;
    text-align: left;
    font-size: 1.5rem;
    display: inline-block;
    margin: 1.5rem auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    display: flex;
    align-items: center;

    &--icon {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      fill: $color-white;

      &-mod {
        transform: rotate(45deg);
      }
    }
  }

  &__btn {
    border: none;
    text-transform: uppercase;
    padding: 1rem 4rem;
    border-radius: 2.5rem;
    color: inherit;
    font: inherit;
    margin: 1rem 0;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;

    transition: all 0.5s;

    &--basic {
      background-color: $color-price-base-btn;
    }

    &--pro {
      background-color: $color-price-pro-btn;
    }

    &--premium {
      background-color: $color-price-premium-btn;
    }

    &:hover {
      background-color: $color-gray-1;
      color: $color-black;
      cursor: pointer;
    }
  }

  &__card{

    &--1{
      @include respond(tab-port){
        grid-row: 1/2;
        grid-column: 2/3;
      }
    }

    &--2{
      @include respond(tab-port){
        grid-row: 2/3;
        grid-column: 2/3;
      }
    }

    &--3{
      @include respond(tab-port){
        grid-row: 3/4;
        grid-column: 2/3;
      }
    }
    
  }

}
