.project {
  @include setWidth;
  text-align: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    margin-bottom: 6rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    img {
      width: 100%;
      object-fit: fill;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-1rem) scale(1.05);
      }
    }
  }
}
