.popup {
  &-pro,
  &-premium,
  &-special {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-white, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: all 0.3s;

    &:target {
      opacity: 1;
      transform: scale(1.03);
      visibility: visible;
    }
  }

  &__close {
    color: $color-secondary-light;
    position: absolute;
    top: 3rem;
    right: 4rem;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
  }

  &__content {
    @include absCenter;
    width: 60%;
    height: 45rem;
    color: $color-gray-3;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);

    &--pro {
      background-color: $color-price-base;
    }

    &--premium {
      background-color: $color-price-pro;
    }

    &--special {
      height: 50rem;
      background-color: $color-price-premium;
    }
  }

  &__details,
  &__terms {
    margin: 3rem 5rem;
  }

  &__item {
    margin: 0.5rem auto;
  }
}
