

@keyframes rotate{

  0%{
    transform: translateY(-2rem);
  }

  25%{
    transform: translateX(2rem);
  }

  50%{
    transform: translateY(2rem);
  }

  100%{
    transform: translateX(-2rem);
  }

}