h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.8rem;
  font-weight: 500;

  span {
    color: $color-secondary-light;
  }
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
}

h6 {
  font-size: 1.8rem;
  font-weight: 600;
}

body {
  font-size: 2rem;
}

.heading-primary {
  margin-bottom: 1rem;
}

.heading-secondary {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.8rem;
  font-weight: 500;
}

.masked-text {
  background: linear-gradient(to right, $color-primary-light, $color-primary-dark, $color-secondary-light, $color-secondary-dark);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}
